:root {
  --PrimaryColor: #008fd1;
  --SecondaryColor: #0071a6;

  --LightColor: #ffffff;
  --BlackColor: #000000;
  --DarkColor: #1e1e2c;
  --GrayColor: #808080;
  --GrayLightColor: #d6d6d6;
  --GrayDarkColor: #333333;

  --HeadlineColor: #383838;

  --TaglineColor: #727272;

  --SuccessColor: #4caf50;
  --DangerColor: #f44336;
  --WarningColor: #ff9800;
  --InfoColor: #2196f3;
  --LinkColor: #007bff;
}

@font-face {
  font-family: "Metropolis-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* src: url("./../../Resources/Asset/Font/Library/Arial.ttf") format("truetype");
  src: url("./../../Resources/Asset/Font/Library/Metropolis-Regular.otf") format("truetype");
  src: url("./../../Resources/Asset/Font/Library/Mont-HeavyDEMO.otf") format("truetype"); */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  min-height: 100% !important;
  overflow-x: hidden !important;
  font-synthesis: none !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--LightColor) !important;
  margin: 0 !important;
  padding: 0 !important;
  user-select: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  text-shadow: none;
  text-overflow: ellipsis;
  white-space: normal;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.17rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h5 {
  font-size: 0.83rem;
  font-weight: 200;
  line-height: 1.6;
}

h6 {
  font-size: 0.67rem;
  font-weight: 400;
  line-height: 1.7;
}

/* Start Properties a & p */
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
  user-select: none !important;
}

a:hover {
  cursor: pointer;
}

p {
  font-weight: 400;
  color: var(--HeadlineColor);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* End Properties a & p */

/* Start Change Default Ul & Li */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-weight: normal;
  color: #333;
}
/* End Change Default Ul & Li */
